@page
@model DiscordBot.Pages.Modules.RoleMessages.IndexModel
@{
}
<nav class="nav">
    <a class="nav-link active" aria-current="page" asp-page="/Home/Guilds">Guilds</a>
	<a class="nav-link active" aria-current="page" asp-page="/Home/Modules" asp-route-id="@Model.Guild.ID" asp-route-name="@Model.Guild.Name">Modules</a>
</nav>
<br />
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Role Messages</h2>
		</div>
		<div class="col-6 text-end">
			<form method="post">
				<input type="hidden" name="GuildID" value="@Model.Guild.ID" />
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						Add Role Message
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						@foreach (var role in Model?.AvailableRoles)
						{
							<li><button type="submit" name="Role" class="dropdown-item" value="@role.Key,@role.Value" asp-page-handler="SelectRole">@role.Value</button></li>
						}
					</ul>
				</div>
			</form>
			@*<a asp-page="Create" asp-route-guildID="@Model.Guild.ID" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Create New Role Message
			</a>*@
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Role Name
				</th>
				<th>
					Role Message
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Guild.RoleMessages)
			{
				<tr>
					@if(Model.IsEditMode && Model.EditRoleID == obj.RoleID)
					{
						<form method="post">
						<td width="50%">@obj.RoleName</td>
						<td width="30%">
							
								<input type="hidden" name="GuildID" value="@Model.Guild.ID">
								<input type="text" name="EditMessage" value="@obj.Message">
							
							
						</td>
						<td>
							<div class="w-75 btn-group" role="group">

								<button type="submit" name="Role" class="btn btn-primary mx-2" value="@obj.RoleID,@obj.RoleName" asp-page-handler="Save">
									<i class="bi bi-save"></i>
								</button>
								<a asp-page="Index" asp-route-guildID="@Model.Guild.ID" class="btn mx-2">
									<i class="bi bi-x-lg"></i>
								</a>
							</div>
						</td>
								</form>
					}
					else 
					{
						<td width="50%">@obj.RoleName</td>
						<td width="30%">@obj.Message</td>
						<td>
							@if(!Model.IsEditMode)
							{
								<div class="w-75 btn-group" role="group">
									<a asp-page-handler="EditMode" asp-route-roleID="@obj.RoleID" asp-route-guildID="@Model.Guild.ID" class="btn btn-primary mx-2">
										<i class="bi bi-pencil-square"></i>
									</a>
									<form method="post">
										<input type="hidden" name="GuildID" value="@Model.Guild.ID">
										<button type="submit" name="RoleID" class="btn btn-danger mx-2" value="@obj.RoleID" asp-page-handler="Delete">
											<i class="bi bi-trash-fill"></i>
										</button>
									</form>
									
								</div>
							}							
						</td>
					}					
				</tr>
			}
			
		</tbody>
	</table>

</div>