@page
@model WebApp.Pages.Modules.RoleMessages.IndexModel
@{
}
@Html.AntiForgeryToken()
<nav class="nav">
    <a class="nav-link active" aria-current="page" asp-page="/Home/Guilds">Guilds</a>
	<a class="nav-link active" aria-current="page" asp-page="/Home/Modules" asp-route-id="@Model.Guild.Id" asp-route-name="@Model.Guild.Name">Modules</a>
</nav>
<br />
<div>
	<h2 class="text-primary">Role Messages</h2>
	<div class="float-end">
		@await Html.PartialAsync("_RolesDropdown", new RolesDropdownPartialModel(){ButtonName="Add Role", Roles=Model.AvailableRoles, AddNoneOption=false})
	</div>
</div>
<br /><br />
<div class="container p-3">
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Role Name
				</th>
				<th>
					Role Initial Message
				</th>
				<th>
					Have Survey
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="TableRows">
			@foreach (var role in Model.Guild.Roles)
			{
				if (role.Message != null && !role.HasSurvey)
				{
					@await Html.PartialAsync("_RoleMessageRow", role)
				}
			}
		</tbody>
	</table>
</div>


@section Scripts
{
	<script>
		var tableRowsElement = $("#TableRows");

		$(document).on("click","#DeleteInteractionButton",function()
		{
			var roleId = $(this).val();
			$.ajax({
				type: "POST",
				url: '?handler=DeleteRoleInteraction',
				data: { guildId: "@Model.Guild.Id", roleId: roleId },
				headers: {
					RequestVerificationToken:
						$('input:hidden[name="__RequestVerificationToken"]').val()
				},
				success: function (result) {
					location.reload();
				},
				error: function (req, status, error) {
					console.log(status);
				}
			});
		})

		$(document).on("click", "#DropdownSelectedRole", function()
		{
			var roleId = $(this).val();
			$.ajax({
				type: "POST",
				url: '?handler=AddRoleInteraction',
				data: { guildId: "@Model.Guild.Id", roleId: roleId },
				headers: {
					RequestVerificationToken:
						$('input:hidden[name="__RequestVerificationToken"]').val()
				},
				success: function (result) {
					location.reload();
				},
				error: function (req, status, error) {
					console.log(status);
				}
			});
		})
	</script>
}