@page
@model WebApp.Pages.Modules.RoleMessages.SelectModel
@{
}
@Html.AntiForgeryToken()
<nav class="nav">
    <a class="nav-link active" aria-current="page" asp-page="/Home/Guilds">Guilds</a>
    <a class="nav-link active" aria-current="page" asp-page="/Home/Modules" asp-route-id="@Model.Role.GuildId" asp-route-name="@Model.Guild.Name">Modules</a>
    <a class="nav-link active" aria-current="page" asp-page="Index" asp-route-guildId="@Model.Role.GuildId">Role Messages</a>
</nav>
<br />
<h3>Role Name : @Model.Role.Name</h3>
<h3>Role ID : @Model.Role.Id</h3>
<br />
<div id="Message">
    <h5>Message:</h5>    
    <div id="MessageRead">
        <p id="MessageDisplay">@Model.Role.Message</p>
        <button type="button" id="EditMessage" class="btn btn-primary mx-2">
            <i class="bi bi-pencil-square"></i>
        </button>
    </div>
    <div id="MessageEdit" style="display:none">
        <textarea id="MessageTextArea" rows="5" cols="50">@Model.Role.Message</textarea>
        <div>
            <button type="button" id="SaveMessage" class="btn btn-primary mx-2">
                <i class="bi bi-save"></i>
            </button>
            <button type="button" id="CancelButtonMessage" class="btn mx-2">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>
</div>
<br />
<div id="Surveys">
    <h5>Surveys:</h5>
    <button type="button" id="AddSurveyForRole" class="btn btn-success mx-2">
        Add
    </button>
    @if(Model.Role.HasSurvey)
    {
        foreach(var survey in Model.Role.RoleSurveys)
        {
            <h5>SurveyLaLaLa</h5>
        }
    }
</div>

@section Scripts
{
    <script>
        var messageReadElement = $("#MessageRead");
        var messageEditElement = $("#MessageEdit");
        var messageDisplay = messageReadElement.find("#MessageDisplay")
        var messageTextArea = messageEditElement.find("#MessageTextArea");

        $(document).on("click", "#EditMessage", function()
        {
            messageReadElement.hide();
            messageEditElement.show();
        });

        $(document).on("click", "#CancelButtonMessage", function()
        {
            messageTextArea.val(messageDisplay.text());
            messageEditElement.hide();
            messageReadElement.show();
        });

        $(document).on("click", "#SaveMessage", function () {

            var newRoleMessage = messageTextArea.val();
            $.ajax({
                type: "POST",
                url: '?handler=ChangeRoleMessage',
                data: { guildId: "@Model.Guild.Id", roleId: "@Model.Role.Id", roleMessage: newRoleMessage },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    messageDisplay.text(messageTextArea.val());
                    messageEditElement.hide();
                    messageReadElement.show();
                },
                error: function (req, status, error) {
                    console.log(status);
                }
            });
        });

        var surveysElement = $("#Surveys");

        $(document).on("click", "#AddSurveyForRole", function () {

            $.ajax({
                type: "POST",
                url: '?handler=NewRoleSurvey',
                data: { guildId: "@Model.Guild.Id", roleId: "@Model.Role.Id", parentSurveyId: 0 },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    
                    surveysElement.append(result);
                },
                error: function (req, status, error) {
                    console.log(status);
                }
            });
        });

        $(document).on("click", "#EditRoleSurvey", function () {

            var topElement = $(this).closest('.RoleSurvey');
            topElement.find('.RoleSurveyRead').addClass('d-none');
            topElement.find('.RoleSurveyEdit').removeClass('d-none');
            topElement.find('#AllowMultiSelect').prop("disabled", false);
        });
        $(document).on("click", "#SaveRoleSurvey", function () {

            
        });
        $(document).on("click", "#CancelRoleSurvey", function () {

            var topElement = $(this).closest('.RoleSurvey');
            topElement.find('.RoleSurveyEdit').addClass('d-none');
            topElement.find('.RoleSurveyRead').removeClass('d-none');
            topElement.find('#AllowMultiSelect').prop("disabled", true);
            topElement.find('#OptionsJustAdded').html('');
            var allowMultiSelectElement = topElement.find('#AllowMultiSelect');
            if(allowMultiSelectElement.val() == "true")
            {
                allowMultiSelectElement.prop('checked', true);
            }
            else
            {
                allowMultiSelectElement.prop('checked', false);
            }
        });
        $(document).on("click", "#AddOption", function () {

            var optionsElement = $(this).closest('#Options');
            var optionTemplate = optionsElement.find("#OptionTemplate").html();
            optionsElement.find('#OptionsJustAdded').append(optionTemplate);            
        });
        $(document).on("click", "#DropdownSelectedRole", function () {

            var selectedRoleId = $(this).val();
            var selectedRoleName = $(this).text();

            var optionElement = $(this).closest('.RoleSurveyOption');
            optionElement.find('#RoleToAwardNameDisplay').text(selectedRoleName);
            optionElement.find('#RoleToAwardId').val(selectedRoleId);
            if(selectedRoleId == 0)
            {
                optionElement.find('#RoleToAwardNameDisplay').addClass('text-danger');
            }
            else
            {
                optionElement.find('#RoleToAwardNameDisplay').removeClass('text-danger');
            }
        });
        $(document).on("click", "#RemoveOption", function () {

            var optionElement = $(this).closest('.RoleSurveyOption');
            if(optionElement.parent().is("#OptionsJustAdded"))
            {
                optionElement.remove();
                return;
            }

            var optionsElement = $(this).closest('#Options');
            optionsElement.find('#OptionsJustRemoved').append(optionElement.html());
            optionElement.remove();
        });
    </script>
}


