@using Models
@using WebApp.Pages.Partials
@model RoleSurveyEditPartialModel
<div class="RoleSurvey">
    <div class="card w-25">
        <div class="card-body">
            <p class="d-none" id="RoleSurveyId" data-Id="@Model.RoleSurvey_HM.MainInstance.Id">@Model.RoleSurvey_HM.MainInstance.Id</p>
            <form id="RoleSurveyEditForm" method="post">
                <input type="hidden" id="" asp-for="RoleSurvey_HM.MainInstance.Id" value="@Model.RoleSurvey_HM.MainInstance.Id" />
                <input type="hidden" asp-for="RoleSurvey_HM.MainInstance.RoleId" value="@Model.RoleSurvey_HM.MainInstance.RoleId" />
                <input type="hidden" asp-for="RoleSurvey_HM.MainInstance.ParentSurveyId" value="@Model.RoleSurvey_HM.MainInstance.ParentSurveyId" />
                <input type="hidden" asp-for="RoleSurvey_HM.MainInstance.Index" value="@Model.RoleSurvey_HM.MainInstance.Index" />
                @if (Model.CanHaveCondition)
                {
                    <h5 class="text-success">Has Condition:</h5>
                    <div class="form-check form-switch">
                        @if (Model.RoleSurvey_HM.MainInstance.HasConditionalTrigger)
                        {
                            <input asp-for="RoleSurvey_HM.MainInstance.HasConditionalTrigger" class="form-check-input" type="checkbox" checked />
                        }
                        else
                        {
                            <input asp-for="RoleSurvey_HM.MainInstance.HasConditionalTrigger" class="form-check-input" type="checkbox" />
                        }
                    </div>
                    <h5 class="text-success">Triggers:</h5>
                    @await Html.PartialAsync("/Pages/Partials/_RoleSurveyTriggersDropdown.cshtml", new RoleSurveyTriggersDropdownPartialModel(){ButtonName="Add Trigger", Triggers=Model.AvailableTriggerOptions})
                    @if (Model.RoleSurvey_HM.MainInstance.HasConditionalTrigger)
                    {
                        @for (int i = 0; i < Model.RoleSurvey_HM.Triggers.Count; i++)
                        {
                            <div id="Trigger">
                                <p id="Index" class="d-none">@i</p>
                                <input asp-for="RoleSurvey_HM.Triggers[i].MainInstance.Id" type="hidden" value="@Model.RoleSurvey_HM.Triggers[i].MainInstance.Id" />
                                <input type="hidden" asp-for="RoleSurvey_HM.Triggers[i].MainInstance.Text" class="w-100" value="@Model.RoleSurvey_HM.Triggers[i].MainInstance.Text" />
                                <p class="mt-2 mb-0">@Model.RoleSurvey_HM.Triggers[i].MainInstance.Text</p>
                                <button type="button" id="RemoveTrigger" class="btn btn-danger mx-0 mb-2">Remove</button>
                            </div>
                        }
                    }

                }
                <h5 class="text-success">Initial Message:</h5>
                <textarea asp-for="RoleSurvey_HM.MainInstance.InitialMessage" class="mx-2 w-100" rows="5">@Model.RoleSurvey_HM.MainInstance.InitialMessage</textarea>
                <h5 class="text-success">Allow Multi Select:</h5>
                <div class="form-check form-switch">
                    @if (Model.RoleSurvey_HM.MainInstance.AllowOptionsMultiSelect)
                    {
                        <input asp-for="RoleSurvey_HM.MainInstance.AllowOptionsMultiSelect" class="form-check-input" type="checkbox" checked />
                    }
                    else
                    {
                        <input asp-for="RoleSurvey_HM.MainInstance.AllowOptionsMultiSelect" class="form-check-input" type="checkbox" />
                    }
                </div>
                <h5 class="text-success">Options:</h5>
                <button type="button" id="AddOption" class="btn btn-success mx-0 mb-2">Add</button>
                @for (int i = 0; i < Model.RoleSurvey_HM.Options.Count; i++)
                {
                    <div id="Option">
                        <p id="Index" class="d-none">@i</p>
                        <input type="hidden" asp-for="RoleSurvey_HM.Options[i].MainInstance.Id" value="@Model.RoleSurvey_HM.Options[i].MainInstance.Id" />
                        <input type="text" asp-for="RoleSurvey_HM.Options[i].MainInstance.Text" class="w-100 optionText" value="@Model.RoleSurvey_HM.Options[i].MainInstance.Text" placeholder="Option Text Here..."/>
                        <br />
                        <label>Role To Award -> </label>
                        <input class="AwardRoleId" asp-for="RoleSurvey_HM.Options[i].MainInstance.RoleId" type="hidden" value="@Model.RoleSurvey_HM.Options[i].MainInstance.RoleId" />
                        <input asp-for="RoleSurvey_HM.Options[i].MainInstance.RoleSurveyId" type="hidden" value="@Model.RoleSurvey_HM.Options[i].MainInstance.RoleSurveyId" />
                        @await Html.PartialAsync("/Pages/Partials/_RolesDropdown.cshtml", new RolesDropdownPartialModel(){ButtonName= Model.RoleSurvey_HM.Options[i].RoleName, Roles=Model.AllRoles, AddNoneOption=true})
                        <button type="button" id="RemoveOption" class="btn btn-danger mx-0 mb-2">Remove</button>
                    </div>
                }
                <h5 class="text-success">End Message:</h5>
                <textarea asp-for="RoleSurvey_HM.MainInstance.EndMessage" class="mx-2 w-100" rows="5">@Model.RoleSurvey_HM.MainInstance.EndMessage</textarea>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success mx-2" asp-page-handler="Save">Save</button>
                    <a asp-page-handler="WithFocus" asp-route-roleSurveyId="@Model.RoleSurvey_HM.MainInstance.Id" class="btn btn-secondary mx-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
