@page
@using WebApp.Pages.Partials
@model WebApp.Pages.Modules.Automations.IndexModel
@{
}
@Html.AntiForgeryToken()
<nav class="nav">
    <a class="nav-link active" aria-current="page" asp-page="/Home/Guilds">Guilds</a>
	<a class="nav-link active" aria-current="page" asp-page="/Home/Modules" asp-route-id="@Model.Guild.Id" asp-route-name="@Model.Guild.Name">Modules</a>
</nav>
<br />
<div>
	<h2 class="text-primary">Automations</h2>
</div>
<br /><br />
<div class="container p-3">
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					When
				</th>
				<th>
					If
				</th>
				<th>
					Do
				</th>
				<th>
					After
				</th>
				<th>
					<!-- This empty header cell is here so the header row has the same number of cells as the row below. Otherwise part of the border will be missing. -->
				</th>
			</tr>
		</thead>
		<tbody id="TableRows">
				@{
					int packageIndex = 0;
				}
				@foreach (var package in Model.Packages)
				{
					<form method="post">
					<tr id="Row">
					@{int index = 0;
					}

						<input asp-for="@Model.SavedInfo.Auto.Id" value="@package.Auto.Id" hidden>
						<input asp-for="@Model.SavedInfo.Auto.GuildId" value="@Model.Guild.Id" hidden>
					<td id="Top">
					@foreach (var whens in package.When)
					{
							<div id="Display">
								@await Html.PartialAsync("/Pages/Partials/_AutomationDropdown.cshtml", new AutomationDropdownModel() { ButtonName = Model.WhenAutomations[whens.SelectedOption].desc, Automations = Model.WhenAutomations, DropdownId = "whenDropdown" })

								<input asp-for="@Model.SavedInfo.When[index].Value" value="@whens.Value">
								<input asp-for="@Model.SavedInfo.When[index].Id" value="@whens.Id" hidden>
								<input asp-for="@Model.SavedInfo.When[index].Type" value="@whens.Type" hidden>
								<input asp-for="@Model.SavedInfo.When[index].SelectedOption" value="@whens.SelectedOption" id="dropdownOption" hidden>
							</div>
						index++;
					}
					</td>
					@{ index = 0;
					}
					<td id="Top">
					@foreach (var ifs in package.If)
					{
							<div id="Display">
								@await Html.PartialAsync("/Pages/Partials/_AutomationDropdown.cshtml", new AutomationDropdownModel() { ButtonName = Model.IfAutomations[ifs.SelectedOption].desc, Automations = Model.IfAutomations, DropdownId = "ifDropdown" })
								<input asp-for="@Model.SavedInfo.If[index].Value" value="@ifs.Value">
								<input asp-for="@Model.SavedInfo.If[index].Id" value="@ifs.Id" hidden>
								<input asp-for="@Model.SavedInfo.If[index].Type" value="@ifs.Type" hidden>
								<input asp-for="@Model.SavedInfo.If[index].SelectedOption" value="@ifs.SelectedOption" id="dropdownOption" hidden>

								<button asp-page-handler="CreateNewIf" type="submit" class="btn btn-primary mx-2">Create New If</button>
								<input asp-for="@Model.ReferenceAuto.Id" value="@package.Auto.Id" hidden>
								<input asp-for="@Model.guildId" value="@Model.Guild.Id" hidden>
							</div>
						index++;
					}
					</td>
					@{ index = 0;
					}
					<td id="Top">
					@foreach (var dos in package.Do)
					{
								<div id="Display">
								@await Html.PartialAsync("/Pages/Partials/_AutomationDropdown.cshtml", new AutomationDropdownModel() { ButtonName = Model.DoAutomations[dos.SelectedOption].desc, Automations = Model.DoAutomations, DropdownId = "doDropdown" })

								<input asp-for="@Model.SavedInfo.Do[index].Value" value="@dos.Value">
								<input asp-for="@Model.SavedInfo.Do[index].Id" value="@dos.Id" hidden>
								<input asp-for="@Model.SavedInfo.Do[index].Type" value="@dos.Type" hidden>
								<input asp-for="@Model.SavedInfo.Do[index].SelectedOption" value="@dos.SelectedOption" id="dropdownOption" hidden>

								<button asp-page-handler="CreateNewDo" type="submit" class="btn btn-primary mx-2">Create New Do</button>
								<input asp-for="@Model.ReferenceAuto.Id" value="@package.Auto.Id" hidden>
								<input asp-for="@Model.guildId" value="@Model.Guild.Id" hidden>
							</div>
						index++;
					}
					</td>
					<td>
						<input asp-for="@Model.SavedInfo.After[0].Value" value="@package.After[0].Value">
						<input asp-for="@Model.SavedInfo.After[0].Id" value="@package.After[0].Id" hidden>
						<input asp-for="@Model.SavedInfo.After[0].Type" value="@package.After[0].Type" hidden>
					</td>
					<td>
						<button asp-page-handler="Save" type="submit" class="btn btn-primary mx-2">Save</button>
						@if (packageIndex > 0)
						{
							<button asp-page-handler="DeleteAuto" type="submit" class="btn btn-danger mx-2">Delete</button>
						}
						@if (package.If.Count > 1)
						{
							<button asp-page-handler="DeleteLastIf" type="submit" class="btn btn-danger mx-2">Delete Last If</button>
						}
						@if (package.Do.Count > 1)
						{
							<button asp-page-handler="DeleteLastDo" type="submit" class="btn btn-danger mx-2">Delete Last Do</button>
						}
					</td>
					</tr>
					</form>
					{
						packageIndex++;
					}
				}
			<form method="post">
				<input asp-for="@Model.guildId" value="@Model.Guild.Id" hidden>
				<button asp-page-handler="CreateNewAuto" type="submit" class="btn-btn-success">Create New Automation</button>
			</form>
		</tbody>
	</table>
</div>

@section Scripts
	{
	<script>
		$(document).on("click", "#SelectedId", function () {
			var Id = $(this).val();
			var Name = $(this).text();
			var Div = $(this).closest("#Display");

			console.log(Id);

			if (Div.length != 0) {
				Div.find("#dropdownMenuButton").text(Name);
				Div.find("#dropdownOption").val(parseInt(Id));
				return;
			}
		});
	</script>
	@if (ViewData["Message"] != null)
	{
		<script>
			window.onload = function () {
				alert("@ViewData["Message"]");
			};
		</script>
	}
}